@page "/Sheets/{id:Guid}/EditDelete"
@using Msoop.Extensions
@using Msoop.Features.Sheets
@using Msoop.ViewModels
@model Msoop.Pages.Sheets.EditDelete

@{
    ViewData["Title"] = "Edit your sheet";
    ViewData["id"] = RouteData.Values["id"];
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    @* site.js has to be below validation scripts *@
    <script src="~/js/site.js" asp-append-version="true"></script>
}

@section Modals
{
    <partial name="_RemovalModal"/>
}

<a asp-page="Index" asp-route-id="@ViewData["id"]">View Sheet</a>
<form id="edit-sheet-form" method="post">
    <div class="form-control">
        <label asp-for="Form.PostAgeLimit">Take posts from:</label>
        <select asp-for="Form.PostAgeLimit" asp-items="@Html.GetEnumSelectList<PostAgeLimit>()"></select>
        <span asp-validation-for="Form.PostAgeLimit" class="text-danger"></span>
    </div>

    <div id="custom-age-input" class="form-control"
         hidden="@(Model.Form.PostAgeLimit != PostAgeLimit.Custom)">
        <label asp-for="Form.CustomAgeLimit">Last</label>
        <input asp-for="Form.CustomAgeLimit"/>
        <span>days</span>
        <span asp-validation-for="Form.CustomAgeLimit" class="text-danger"></span>
    </div>

    <div class="form-control">
        <input asp-for="Form.AllowOver18">
        <label asp-for="Form.AllowOver18"></label>
    </div>
    <div class="form-control">
        <input asp-for="Form.AllowSpoilers">
        <label asp-for="Form.AllowSpoilers"></label>
    </div>
    <div class="form-control">
        <input asp-for="Form.AllowStickied">
        <label asp-for="Form.AllowStickied"></label>
    </div>
    <button type="submit" asp-page-handler="Edit" class="btn btn-primary">Save</button>
    <button type="button" data-micromodal-trigger="removal-modal" class="btn btn-danger">Delete</button>
    <button id="removal-modal-action" type="submit" asp-page-handler="Delete" hidden></button>
</form>


<div>
    <h2>Subreddits</h2>
    <a class="btn btn-primary" asp-page="Subreddits/Create" asp-route-sheetId="@ViewData["id"]">
        Add Subreddit
    </a>
    @if (Model.OwnedSubreddits?.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of Posts</th>
                <th scope="col">OrderBy</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.OwnedSubreddits.Count; i++)
            {
                var sheetSection = Model.OwnedSubreddits[i];
                <tr>
                    <td>@sheetSection.Name</td>
                    <td>@sheetSection.MaxPostCount</td>
                    <td>@sheetSection.PostOrdering.GetEnumDisplayName()</td>
                    <td>
                        <a asp-page="Subreddits/EditDelete"
                           asp-route-sheetId="@ViewData["id"]"
                           asp-route-subName="@sheetSection.Name">
                            Edit/Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
